<ion-view title="Create Profile" class="bar-royal" hide-back-button="true" id="page-create-profile">
  <ion-content class="has-header padding">
    <form name="profile" novalidate id="form-create-profile">
      <h4 class="title-profile">Step 1: Add Name</h4>
      <div class="list">
          <label class="item item-input">
              <input type="text" name="profile_name" placeholder="First Name" ng-model="newProfile.firstName" required ng-focus>
          </label>
          <label class="item item-input">
              <input type="text" name="profile_name" placeholder="Last Name" ng-model="newProfile.lastName" required ng-focus>
          </label>
      </div>      
      <div class="signin-actions padding">
        <a class="button button-block button-royal" ng-click="goToStep2()">Next</a>
        <a class="button button-block button-energized" href="#/tab/profiles">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>

<script id="step2.html" type="text/ng-template">
  <ion-modal-view title="Create Profile" class="modal">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="modalStep2.hide()"></button>
      <h1 class="title">Create Profile</h1>
    </div>
    <ion-content class="has-header padding">
      <form name="profile" novalidate id="form-add-photo">
        <h4 class="title-profile">Step 2: Add Photo</h4>  
        <div class="signin-actions" id="photo-action">
          <div id="profile-choose-photo">
            <h5>Choose Existing</h5>
            <a class="button-photo-royal" ng-click="choosePhoto()">Choose Existing Photo</a>
          </div>
          <div id="profile-take-photo">
            <h5>Take Photo</h5>
            <a class="button-photo-royal" ng-click="takePhoto()">Take Photo</a>
          </div>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="step22.html" type="text/ng-template">
  <ion-modal-view title="Create Profile" class="modal" id="page-create-profile-22">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="backToStep2()"></button>
      <h1 class="title">Create Profile</h1>
    </div>
    <ion-content class="has-header padding">
      <h4 class="title-profile">Step 2: Add Photo</h4>  
      <div class="profile-image-preview">
        <img ng-src="{{newProfile.image}}" alt="{{newProfile.firstName}}">
      </div>
      <div class="actions">
        <a class="button button-full button-royal" ng-click="goToStep3()">Use Photo</a>
        <a class="button button-full button-energized" ng-click="choosePhoto()">Choose Another</a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="step23.html" type="text/ng-template">
  <ion-modal-view title="Create Profile" class="modal" id="page-create-profile-22">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="backToStep2()"></button>
      <h1 class="title">Create Profile</h1>
    </div>
    <ion-content class="has-header padding">
      <h4 class="title-profile">Step 2: Add Photo</h4> 
      <div class="profile-image-preview">
        <img ng-src="{{newProfile.image}}" alt="{{newProfile.firstName}}">
      </div>
      <div class="actions">
        <a class="button button-full button-royal" ng-click="goToStep3()">Use Photo</a>
        <a class="button button-full button-energized" ng-click="takePhoto()">Retake Photo</a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="step3.html" type="text/ng-template">
  <ion-modal-view title="Create Profile" id="page-create-profile-3" class="modal">
    <div class="bar bar-header bar-royal">
      <h1 class="title">Create Profile</h1>
    </div>
    <ion-content class="has-header padding">
      <h4 class="title-profile">Step 3: Choose Allergens</h4>
      <div class="padding user-info">
        <div class="user-photo">
          <img ng-src="{{newProfile.image}}" alt="{{newProfile.firstName}} {{newProfile.lastName}}">
        </div>
        <div class="user-name">
          <h4 class="royal">{{newProfile.firstName}} {{newProfile.lastName}}</h4>
        </div>
      </div>
      <div class="checkboxes">
        <div class="fa-checkbox" ng-repeat="a in allergensBtn">
          <input type="checkbox" name="{{a}}" value="{{a}}" id="{{a}}" ng-checked="newProfile.allergens.indexOf(a)>-1" ng-click="toggleAllergen(a)">
          <label class="" for="{{a}}">{{a}}</label>
        </div>
      </div>
      <div class="padding" data-ng-if="allergensDropdown.length > 0">
        <button ng-click="openModalMoreAllergens()" type="button" id="btn-see-more-allergens">See Additional Allergens</button>
      </div> 
      <div class="padding">
        <a class="button button-block button-royal" ng-click="showConfirmModal()">Save</a>   
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="more-allergens-modal.html" type="text/ng-template">
  <ion-modal-view class="modal" id="show-more-allergens">
    <div class="bar bar-header bar-royal">
      <h1 class="title">Additional Allergens</h1>
      <button class="button button-icon icon ion-ios7-checkmark-outline" ng-click="closeModalMoreAllergens()"></button>
    </div>
    <ion-content scroll="true">
      <div class="checkboxes">
        <div class="fa-checkbox" ng-repeat="a in allergensDropdown">
          <input type="checkbox" name="{{a}}" value="{{a}}" id="{{a}}" ng-checked="newProfile.allergens.indexOf(a)>-1" ng-click="toggleAllergen(a)">
          <label class="" for="{{a}}">{{a}}</label>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="new-allergen-modal.html" type="text/ng-template">
  <ion-modal-view class="modal" id="add-more-allergen">
    <ion-content class="padding" scroll="false">
      <div id="profile-review" class="padding add-this ">
        <h5>{{newProfile.firstname}} {{newProfile.lastname}}</h5>
        <p>Since you selected {{selectedAllergen}} would you also like to add {{relatedAllergen}} to your Profile list?</p>
        <div class="actions">
          <a class="button button-block button-royal" ng-click="addMoreAllergen(relatedAllergen)">Yes</a>
          <a class="button button-block button-energized" ng-click="closeModalNewAllergen()">No, Thank You</a>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="confirm-modal.html" type="text/ng-template">
  <ion-modal-view class="modal" id="confirm-profile">
    <ion-content scroll="false" id="confirm-content">
      <div id="profile-review" class="padding">
        <h4>{{newProfile.firstName}} {{newProfile.lastName}}</h4>
        <p>You have chosen the following allergens<br/>for your profile:</p>
        <ion-content class="padding" overflow-scroll="true">
          <ul>
            <li ng-repeat="a in newProfile.allergens">{{a}}</li>
          </ul>
        </ion-content>
        <div class="actions" id="create-profile-buttons">
          <p>Is this Correct?</p>
          <button class="button button-block button-royal" ng-disabled="isDisabled" ng-click="createProfile()">Confirm</button>
          <button class="button button-block button-energized" ng-disabled="isDisabled" ng-click="closeConfirmModal()">Edit</button>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
