<ion-view title="" hide-nav-bar="true" hide-back-button="true">
<div id="disclaimer">
  <ion-pane>
    <div class="bar bar-stable" id="disclaimer-header">
      <h1 class="title">Disclaimer</h1>
    </div>
    <div id="disclaimer-content">
        <ion-content overflow-scroll="true">
          By using this mobile application, you may find information about the ingredients in certain foods and household products. The information is not medical advice, diagnosis or treatment and it should not be treated as such. The information is provided for information purposes only and AllergyVIP makes no representations or warranties regarding the availability, accuracy, truthfulness, or usefulness of the information. Do not rely on the information as a substitute for medical advice, diagnosis, or treatment; consult with your professional healthcare provider. Do not delay seeking medical assistance based on any information you find by using the mobile application.
          </ion-content>
          </div>
          <div id="disclaimer-actions">
            <a class="button button-block button-royal" ng-click="acceptDisclaimer()">Accept</a>
            <a class="button button-block button-energized" href="#/landing">Decline</a>
          </div>
        </div>
    </div>
  </ion-pane>
</div>
</ion-view>
