<ion-view title="Settings" hide-back-button="true" id="page-edit-settings">
  <ion-content class="has-header padding">
    <form name="signup" novalidate>
      <div class="list">
          <label class="item item-input" ng-class="{'field-error': firstname.$dirty && firstname.$invalid && !register.firstname.$focused}">
              <input type="text" name="firstname" placeholder="First Name" ng-model="info.firstname" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': lastname.$dirty && lastname.$invalid && !register.lastname.$focused}">
              <input type="text" name="lastname" placeholder="Last Name" ng-model="info.lastname" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': email.$dirty && email.$invalid && !register.email.$focused}">
              <input type="email" name="email" placeholder="Email Address" ng-model="info.email" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': password.$dirty && password.$invalid && !password.$focused}">
              <input type="password" name="password" placeholder="Password" ng-model="info.password" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': password_confirm.$dirty && password_confirm.$invalid && !signup.password_confirm.$focused}">
              <input type="password" name="password_confirm" placeholder="Confirm Password" ng-model="info.password_confirm" required ng-focus>
          </label>
      </div>

      <!-- <ul class="form-errors">
          <li ng-show="signup.username.$dirty && signup.username.$error.required && !signup.username.$focused">
            Enter Username to signup
          <tli>
          <li ng-show="signup.password.$dirty && signup.password.$error.required && !signup.password.$focused">
            Enter Password
          </li>
      </ul> -->
      <div >
        <button class="button button-block button-royal" ng-click="saveEditSettings()">Save</button>
        <a class="button button-full button-energized" href="#/tab/settings">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>
