<ion-view title="Forgot Password" class="bar-royal" hide-back-button="true">
  <ion-content class="has-header padding" scroll="false">
  <h5>{{ notice }}</h5>

    <form name="forgotPassword" novalidate id="form-forgot" 
    data-ng-submit="resetPassword(info.email)">
      <div class="list">
          <label class="item item-input" ng-class="{'field-error': forgotPassword.email.$dirty && forgotPassword.email.$invalid}">
              <input type="email" name="email" placeholder="Email Address" ng-model="info.email" required ng-focus>
          </label>
      </div>      
      <div class="signin-actions">
        <button class="button button-block button-calm" data-ng-disabled="isDisabled">Reset Password</button>
        <a class="button button-block button-energized" href="#/login">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>
