<ion-view hide-nav-bar="true">
  <ion-content class="landing-page" scroll="false"> 
    <a ng-click="goAhead()"class="landing-wizard">
    	<!-- <img ng-src="img/wizard-welcome.png" style="width:320px;" /> -->
    </a>
  </ion-content>
</ion-view>
