<ion-view title="Sign into Your Account" class="bar-royal" hide-back-button="true">
  <ion-content class="has-header padding">
    <form name="login" novalidate id="form-login">
      <div class="list">
          <label class="item item-input" ng-class="{'field-error': login.username.$dirty && login.username.$invalid && !login.username.$focused}">
              <input type="text" name="username" placeholder="Username" ng-model="info.username" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': login.password.$dirty && login.password.$invalid && !login.password.$focused}">
              <input type="password" name="password" placeholder="Password" ng-model="info.password" required ng-focus>
          </label>
      </div>

      <div class="signin-actions">
        <button class="button button-block button-royal" type="submit" ng-disabled="isDisabled" ng-click="authenticateUser(info)" >Log In</button>
        <a class="button button-block button-calm" href="#/forgot" ng-disabled="isDisabled" id="btn-forgot-password">Forgot Password?</a>
        <a class="button button-block button-yellow" href="#/signup" ng-disabled="isDisabled" id="btn-create-account">Create An Account</a>     
      </div>
    </form>
  </ion-content>
</ion-view>
