<ion-view title="Profiles" id="page-create-profile-3">
  <ion-content class="has-header padding">
    <ion-nav-buttons side="left">
      <a class="button button-icon icon" href="#/tab/profiles"></a>
    </ion-nav-buttons>
    <h4 class="title-profile">Step 3: Choose Allergens</h4>
    <div class="padding user-info">
      <div class="user-photo">
        {{imgSrc}}
        <img src="{{imgSrc}}" alt="Angela">
      </div>
      <div class="user-name">
        <h4 class="royal">Angela</h4>
      </div>
    </div>
    <div class="checkboxes">
      <div class="fa-checkbox">
        <input type="checkbox" name="milk" id="milk">
        <label class="" for="milk">Milk</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="peanut" id="peanut">
        <label class="" for="peanut">Peanut</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Egg" id="Egg">
        <label class="" for="Egg">Egg</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="treenuts" id="treenuts">
        <label class="" for="treenuts">Thee Nuts</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Soy" id="Soy">
        <label class="" for="Soy">Soy</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Shellfish" id="Shellfish">
        <label class="" for="Shellfish">Shellfish</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Wheat" id="Wheat">
        <label class="" for="Wheat">Wheat</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Fish" id="Fish">
        <label class="" for="Fish">Fish</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Gluten" id="Gluten">
        <label class="" for="Gluten">Gluten</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Sesame" id="Sesame">
        <label class="" for="Sesame">Sesame</label>
      </div>
    </div>

    <div class="padding">
      <div class="dropdown-list">
        <label class="text-center item item-input item-select">
          <select>
            <option selected>Select Additional Allergens</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
    </div>

    <div class="padding">
      <a class="button button-block button-royal" href="#/create-profile-31">Save</a>   
    </div>
  </ion-content>
</ion-view>
