<ion-view title="Password Confirm" class="bar-royal" hide-back-button="true" id="page-pass-confirm">
  <ion-content class="has-header padding" id="page-pass-confirm" scroll="false">
  <p>Your new password has been sent to your email address. Please retrieve and log in with your new password.</p>
  <div class="signin-actions">
    <a class="button button-block button-royal" href="#/login" ng-click="doneConfirm()">Done</a>
  </div>
  </ion-content>
</ion-view>
