<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Create Profile" id="page-create-profile-3" hide-back-button="false" class="create-profile">
  <ion-content class="has-header padding">
    <h4 class="title-profile">Step 3: Choose Allergens</h4>
    <div class="padding user-info">
      <div class="user-photo">
        <img src="{{profile.image}}" alt="Angela">
      </div>
      <div class="user-name">
        <input type="text" ng-model="profile.name">
      </div>
    </div>
    <div class="checkboxes">
      <div class="fa-checkbox">
        <input type="checkbox" name="milk" id="milk">
        <label class="" for="milk">Milk</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="peanut" id="peanut">
        <label class="" for="peanut">Peanut</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Egg" id="Egg">
        <label class="" for="Egg">Egg</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="treenuts" id="treenuts">
        <label class="" for="treenuts">Thee Nuts</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Soy" id="Soy">
        <label class="" for="Soy">Soy</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Shellfish" id="Shellfish">
        <label class="" for="Shellfish">Shellfish</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Wheat" id="Wheat">
        <label class="" for="Wheat">Wheat</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Fish" id="Fish">
        <label class="" for="Fish">Fish</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Gluten" id="Gluten">
        <label class="" for="Gluten">Gluten</label>
      </div>
      <div class="fa-checkbox">
        <input type="checkbox" name="Sesame" id="Sesame">
        <label class="" for="Sesame">Sesame</label>
      </div>
    </div>

    <div class="padding">
      <div class="dropdown-list">
        <label class="text-center item item-input item-select">
          <select>
            <option selected>Select Additional Allergens</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
    </div>

    <div class="padding">
      <a class="button button-block button-royal" href="#/create-profile-31">Save</a>   
    </div>
  </ion-content>
</ion-view>
