<ion-view title="Settings">
  <ion-content class="has-header padding">
    <form name="update" novalidate>
      <div class="list">
          <label class="item item-input" ng-class="{'field-error': signup.username.$dirty && signup.username.$invalid && !register.username.$focused}">
              <input type="text" name="username" placeholder="Username" ng-model="info.username" required ng-focus>
          </label>

          <label class="item item-input" ng-class="{'field-error': signup.firstname.$dirty && signup.firstname.$invalid && !register.firstname.$focused}">
              <input type="text" name="firstname" placeholder="First Name" ng-model="info.firstname" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': signup.lastname.$dirty && signup.lastname.$invalid && !register.lastname.$focused}">
              <input type="text" name="lastname" placeholder="Last Name" ng-model="info.lastname" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': signup.email.$dirty && signup.email.$invalid && !register.email.$focused}">
              <input type="email" name="email" placeholder="Email Address" ng-model="info.email" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': signup.password.$dirty && signup.password.$invalid && !signup.password.$focused}">
              <input type="password" name="password" placeholder="Password" ng-model="info.password" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': signup.password_confirm.$dirty && signup.password_confirm.$invalid && !signup.password_confirm.$focused}">
              <input type="password" name="password_confirm" placeholder="Confirm Password" ng-model="info.password_confirm" required ng-focus>
          </label>
      </div>

      <div>
        <button class="button button-block button-royal" type="submit" ng-click="updateUser(update)" >Save</button>
        <button class="button button-block button-royal" type="submit" ng-click="gotoProfiles()" >Cancel</button>
      </div>
    </form>
  </ion-content>
</ion-view>
