<ion-view title="Create Account" hide-back-button="true" id="page-signup">
  <ion-content class="has-header padding">
    <form name="signup" novalidate>
      <div class="list">
          <label class="item item-input" ng-class="{'field-error': username.$dirty && username.$invalid && !register.username.$focused}">
              <input type="text" name="firstname" placeholder="Username" ng-model="newUser.username" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': firstname.$dirty && firstname.$invalid && !register.firstname.$focused}">
              <input type="text" name="firstname" placeholder="First Name" ng-model="newUser.firstname" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': lastname.$dirty && lastname.$invalid && !register.lastname.$focused}">
              <input type="text" name="lastname" placeholder="Last Name" ng-model="newUser.lastname" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': email.$dirty && email.$invalid && !register.email.$focused}">
              <input type="email" name="email" placeholder="Email Address" ng-model="newUser.email" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': password.$dirty && password.$invalid && !password.$focused}">
              <input type="password" name="password" placeholder="Password" ng-model="newUser.password" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': password_confirm.$dirty && password_confirm.$invalid && !signup.password_confirm.$focused}">
              <input type="password" name="password_confirm" placeholder="Confirm Password" ng-model="newUser.password_confirm" required ng-focus>
          </label>
      </div>
      <div >
        <button class="button button-block button-royal" ng-disabled="isDisabled" ng-click="signupUser()">Continue</button>
        <button class="button button-block button-energized" ng-disabled="isDisabled" ng-click="cancelSignup()">Cancel</button>
      </div>
    </form>
  </ion-content>
</ion-view>
