<ion-view title="Profiles">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon" ng-click="editProfiles()" ng-hide="editing" ng-if="profiles.length>0">
      Edit
    </button>
    <button class="button button-icon icon" ng-click="doneEdit()" ng-show="editing">
      Done
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios7-plus-empty" ng-click="createNewProfile()" data-ng-if="profiles.length < 4"></a>
  </ion-nav-buttons>
  <ion-content class="has-header contain-list" ng-hide="editing && !profileEditing" overflow-scroll="true">
    <ul class="list">
      <li class="item" ng-repeat="profile in profiles" type="item-text-wrap">
        <div class="profile-sum">
          <div class="profile-thumb"><img ng-src="{{ profile.image}}" alt="profile.firstname"></div>
          <p>{{profile.firstname}} {{profile.lastname}}</p>
        </div>
        <label class="toggle toggle-assertive" for="{{profile.id}}">
           <input type="checkbox" ng-model="profile.checked" ng-change="selectProfile(profile)" name="{{profile.id}}" id="toggle-profile-{{profile.id}}" ng-disabled="isDisabled">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
  </ion-content>

  <ion-content class="has-header contain-list" ng-show="editing && !profileEditing" overflow-scroll="true">
    <ul class="list list-profiles-editing">
      <li class="item" ng-repeat="profile in profiles" type="item-text-wrap">
        <i class="icon ion-minus-circled btn-delete" ng-click="deleteProfile(profile)"></i>
        <a ng-click="editProfile(profile)" class="button-edit-profile">
          <div class="profile-sum">
            <div class="profile-thumb"><img ng-src="{{ profile.image}}" alt="{{profile.name}}"></div>
            <p>{{profile.firstname}} {{profile.lastname}}</p>
            <i class="icon ion-ios7-arrow-forward"></i>
          </div>
        </a>
      </li>
    </ul>
  </ion-content>

  <div class="padding actions" ng-hide="profileEditing">
    <button class="button button-full button-royal" type="button" ng-click="startScan()" id="btn-scan" ng-disabled="isDisabled" ng-hide="editing" ng-if="profiles.length > 0">Scan here</button>
  </div>
</ion-view>

<script id="edit-modal.html" type="text/ng-template">
  <ion-modal-view class="modal" id="new-profile-modal">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeEdit()"></button>
      <h1 class="title">Profiles</h1>
    </div>
      <ion-content class="has-header padding" id="page-create-profile-3" scroll="false">
        <div class="padding user-info">
          <div class="profile-photo">
            <div class="user-photo" ng-click="editUserPhoto();">
              <img ng-src="{{profile.image || 'img/profile-thumb.png'}}" alt="{{profile.name}}">
            </div>
            <a>Edit</a>
          </div>
          <div class="user-name">
            <input type="text" id="firstname" name="firstname" value="{{profile.firstname}}" ng-model="profile.firstname" placeholder="First Name"  data-ng-disabled="isInputDisabled">
            <input type="text" id="lastname" name="lastname" value="{{profile.lastname}}" ng-model="profile.lastname" placeholder="Last Name" data-ng-disabled="isInputDisabled">
          </div>
        </div>

        <h4 class="title-profile">Allergens</h4>

        <div class="checkboxes">
          <div class="fa-checkbox" ng-repeat="a in allergensBtn">
            <input type="checkbox" name="{{a}}" value="{{a}}" id="{{a}}" ng-checked="profile.allergens.indexOf(a)>-1" ng-click="toggleAllergen(a)">
            <label class="" for="{{a}}">{{a}}</label>
          </div>
        </div>
        <div class="padding" data-ng-if="allergensDropdown.length > 0">
          <button ng-click="seeMoreAllergens()" type="button" id="btn-see-more-allergens">See Additional Allergens</button>
        </div>
        <div class="padding">
          <a class="button button-block button-royal" ng-click="saveProfile()">Save</a>
        </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="more-allergens-modal.html" type="text/ng-template">
  <ion-modal-view class="modal" id="show-more-allergens">
    <div class="bar bar-header bar-royal">
      <h1 class="title">Additional Allergens</h1>
      <button class="button button-icon icon ion-ios7-checkmark-outline" ng-click="closeModalMoreAllergens()"></button>
    </div>
    <ion-content scroll="true">
      <div class="checkboxes">
        <div class="fa-checkbox" ng-repeat="a in allergensDropdown">
          <input type="checkbox" name="{{a}}" value="{{a}}" id="{{a}}" ng-checked="profile.allergens.indexOf(a)>-1" ng-click="toggleAllergen(a)">
          <label class="" for="{{a}}">{{a}}</label>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="new-allergen-modal.html" type="text/ng-template">
  <ion-modal-view class="modal" id="add-more-allergen">
    <ion-content class="padding" scroll="false">
      <div id="profile-review" class="padding add-this ">
        <h5>{{profile.firstname}} {{profile.lastname}}</h5>
        <p>Since you selected {{selectedAllergen}} would you also like to add {{relatedAllergen}} to your Profile list?</p>
        <div class="actions">
          <a class="button button-block button-royal" ng-click="addMoreAllergen(relatedAllergen)">Yes</a>
          <a class="button button-block button-energized" ng-click="cancelAddAllergen()">No, Thank You</a>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="confirm-modal.html" type="text/ng-template">
  <ion-modal-view class="modal" id="confirm-profile">
    <ion-content scroll="false" id="confirm-content">
      <div id="profile-review" class="padding">
        <h4>{{display_name}}</h4>
        <p>You have chosen the following allergens<br/>for {{profile.firstname}}  {{profile.lastname}}'s profile:</p>
        <ion-content class="padding" overflow-scroll="true">
          <ul>
            <li ng-repeat="a in profile.allergens">{{a}}</li>
          </ul>
        </ion-content>
        <div class="actions">
          <p>Is this Correct?</p>
          <a class="button button-block button-royal" ng-disabled="isDisabled" ng-click="confirmProfile()">Confirm</a>
          <a class="button button-block button-energized" ng-disabled="isDisabled" ng-click="closeConfirmModal()">Edit</a>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<!-- update photo modal -->
<script id="select-photo.html" type="text/ng-template">
  <ion-modal-view class="modal">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeModalSelectPhoto()"></button>
      <h1 class="title">Profiles</h1>
    </div>
    <ion-content class="has-header padding">
      <form name="profile" novalidate id="form-add-photo">
        <h4 class="title-profile">Edit Your Photo</h4>
        <div class="signin-actions" id="photo-action">
          <div id="profile-choose-photo">
            <h5>Choose Existing</h5>
            <a class="button-photo-royal" ng-click="choosePhoto()">Choose Existing Photo</a>
          </div>
          <div id="profile-take-photo">
            <h5>Take Photo</h5>
            <a class="button-photo-royal" ng-click="takePhoto()">Take Photo</a>
          </div>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="step22.html" type="text/ng-template">
  <ion-modal-view class="modal" id="page-create-profile-22">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeStep22()"></button>
      <h1 class="title">Profiles</h1>
    </div>
    <ion-content class="has-header padding">
      <h4 class="title-profile">Edit Your Photo</h4>
      <div class="profile-image-preview">
        <img ng-src="{{profile.image}}" alt="{{profile.firstName}}">
      </div>
      <div class="actions">
        <a class="button button-full button-royal" ng-click="setNewPhoto()">Use Photo</a>
        <a class="button button-full button-energized" ng-click="choosePhoto()">Choose Another</a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="step23.html" type="text/ng-template">
  <ion-modal-view class="modal" id="page-create-profile-22">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeStep23()"></button>
      <h1 class="title">Profiles</h1>
    </div>
    <ion-content class="has-header padding">
      <h4 class="title-profile">Edit Your Photo</h4>
      <div class="profile-image-preview">
        <img ng-src="{{profile.image}}" alt="{{profile.firstName}}">
      </div>
      <div class="actions">
        <a class="button button-full button-royal" ng-click="setNewPhoto()">Use Photo</a>
        <a class="button button-full button-energized" ng-click="takePhoto()">Retake Photo</a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<!-- loading screen -->
<script id="loading.html" type="text/ng-template">
  <ion-modal-view class="modal">
    <div class="loading-bg">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    </div>
  </ion-modal-view>
</script>

<!-- results modal -->
<script id="result-good.html" type="text/ng-template">
  <ion-modal-view class="modal">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeAllResults()"></button>
      <h1 class="title">Scan Result</h1>
    </div>
    <ion-view title="Scan Results" class="scan-results results-good">
      <div class="product-name">{{product_name}}</div>
      <div class="icon-bar">
        <img class="wizard-icon" src="img/wizard.png"/>
        <img class="caution-icon" src="img/check-green.png"/>
      </div>
      <div class="warning-text">No matching allergens found, but please double-check the label.</div>
      <a class="button button-block button-outline button-dark view-details" ng-click="goToScanResults()">View Details</a>
      <button class="bar bar-footer bar-royal" ng-click="startScan()" ng-disabled="isDisabled">Scan Again</button>
    </ion-view>
  </ion-modal-view>
</script>

<script id="result-maybe.html" type="text/ng-template">
  <ion-modal-view class="modal">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeAllResults()"></button>
      <h1 class="title">Scan Result</h1>
    </div>
    <ion-view title="Scan Results" class="scan-results results-maybe">
      <div class="product-name">Oops, Product Not Found!</div>
      <div class="icon-bar">
        <img class="wizard-icon" src="img/wizard.png"/>
        <img class="stop-icon" src="img/caution-yellow.png"/>
      </div>
      <div class="warning-text">We don't recognize this product. You can try scanning again, or check the label.</div>
      <button class="bar bar-footer bar-royal" ng-click="startScan()" ng-disabled="isDisabled">Scan Again</button>
    </ion-view>
  </ion-modal-view>
</script>

<script id="result-stop.html" type="text/ng-template">
  <ion-modal-view class="modal">
    <div class="bar bar-header bar-royal">
      <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeAllResults()"></button>
      <h1 class="title">Scan Result</h1>
    </div>
    <ion-view title="Scan Results" class="scan-results results-stop">
      <div class="product-name">{{product_name}}</div>
      <div class="icon-bar">
        <img class="wizard-icon" src="img/wizard.png"/>
        <img class="caution-icon" src="img/caution-red.png"/>
      </div>
      <div class="warning-text">This product contains allergens listed in a selected food profile!</div>
      <a class="button button-block button-outline button-dark view-details" ng-click="goToScanResults()">View Details</a>
      <button class="bar bar-footer bar-royal" ng-click="startScan()" ng-disabled="isDisabled">Scan Again</button>
    </ion-view>
  </ion-modal-view>
</script>

<script id="results.html" type="text/ng-template">
  <ion-modal-view class="modal" id="page-scan-results">
    <div class="bar bar-header bar-royal">
    <button class="button button-icon icon ion-ios7-arrow-left" ng-click="closeAllResults()"></button>
      <h1 class="title">Scan Result</h1>
    </div>
    <ion-view>
        <ion-content scroll="true">
          <table style="border: 1px solid black; margin:10px;">
            <tr>
              <td style="border: 1px solid black; padding:5px;">Product</td>
              <td style="border: 1px solid black; padding:5px; font-weight:bold;">{{product_name}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid black; padding:5px;">Contains:</td>
              <td style="border: 1px solid black; padding:5px;">{{allergen_list}}</td>
            </tr>
              <tr>
                  <td style="border: 1px solid black; padding:5px;">May Contain:</td>
                  <td style="border: 1px solid black; padding:5px;">{{allergen_list_may_contain}}</td>
              </tr>
            <tr>
              <td style="border: 1px solid black; padding:5px;">Allergen Statement:</td>
              <td style="border: 1px solid black; padding:5px;">{{product_warning}}</td>
            </tr>
          </table>
          <ul class="list">
            <li class="item" ng-repeat="profile in matchedProfiles">
              <div class="profile-image">
                <img ng-src="{{profile.image}}" alt="">
              </div>
              <div class="profile-results">
                <h2>{{profile.firstname}} {{profile.lastname}}</h2>
                <p>{{profile.allergens}}</p>
              </div>
            </li>
          </ul>
        </ion-content>
      <button class="bar bar-footer bar-royal" ng-click="startScan()" ng-disabled="isDisabled">Scan Again</button>
    </ion-view>
  </ion-modal-view>
</script>
