<ion-view title="Scan">
  <ion-content class="has-header padding">
    Scanning...
  </ion-content>
  <div class="bar bar-footer bar-royal">
    <div class="title"><a href="#/tab/profiles">Profiles</a></div>
  </div>
</ion-view>

