<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon" ng-click="editSettings()" ng-hide="editing" ng-if="info.name">
      Edit
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header padding" ng-hide="editing">
    <div class="profile-info">
      <p><strong>Username:</strong> {{info.name}}</p>
      <p><strong>First name:</strong> {{info.first_name}}</p>
      <p><strong>Last name:</strong> {{info.last_name}}</p>
      <p><strong>Email Address:</strong> {{info.mail}}</p>
    </div>
    <div class="social text-center">
      <h6>Share This App</h6>
      <a class="social-button social-facebook" ng-click="facebookShare()">Facebook</a>
      <a class="social-button social-twitter" ng-click="twitterShare()">Twitter</a>
    </div>
  </ion-content>

  <ion-content class="has-header padding" ng-show="editing">
    <form name="user-settings" novalidate id="form-user-settings">
      <div class="list">
          <label class="item item-input">
              <input type="text" name="name" placeholder="Username" ng-model="editInfo.name" ng-disabled="{editing: true}">
          </label>
          <label class="item item-input" ng-class="{'field-error': first_name.$dirty && first_name.$invalid && !register.first_name.$focused}">
              <input type="text" name="first_name" placeholder="First Name" ng-model="editInfo.first_name" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': last_name.$dirty && last_name.$invalid && !register.last_name.$focused}">
              <input type="text" name="last_name" placeholder="Last Name" ng-model="editInfo.last_name" required ng-focus>
          </label>
          <label class="item item-input" ng-class="{'field-error': mail.$dirty && mail.$invalid && !register.mail.$focused}">
              <input type="email" name="mail" placeholder="Email Address" ng-model="editInfo.mail" required ng-focus>
          </label>
          <label class="item item-input">
              <input type="password" name="password" placeholder="Password" ng-model="editInfo.password" ng-focus>
          </label>
          <label class="item item-input">
              <input type="password" name="password_confirm" placeholder="Confirm Password" ng-model="editInfo.password_confirm" ng-focus>
          </label>
      </div>
      <div >
        <button class="button button-block button-royal" ng-disabled="isDisabled" ng-click="updateUser()">Save</button>
        <a class="button button-full button-energized" ng-disabled="isDisabled" ng-click="cancelEdit()">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>
