<ion-tabs class="tabs-icon-top" id="page-tabs-view">
  <ion-tab title="Profiles" icon="icon ion-ios7-people" href="#/tab/profiles">
    <ion-nav-view name="tab-profiles"></ion-nav-view>
  </ion-tab> <!-- Profiles Tab -->
  
  <ion-tab title="Settings" icon="icon ion-ios7-gear" href="#/tab/settings"> 
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab> <!-- Account Tab -->
  
  <ion-tab title="Logout" icon="icon ion-log-out" href="#/logout"> 
    <ion-nav-view name="tab-logout"></ion-nav-view>
  </ion-tab> <!-- Account Tab -->
</ion-tabs>
