/* Empty. Add your own CSS if you like */


/* add status bar */
.bar-header > * {
  /*margin-top: 20px;*/
  margin-top: 20px;
}
/*.platform-ios7 .has-header {
  top: 84px;
}*/
.bar {
  height: 64px;
}
/*.bar .title {
  top: 20px;
}*/
.has-header {
  top: 64px;
}
.list { margin-bottom: 15px}
form h4 {
  text-align: center;
  color: #5c5fa1;
}
/* For login form */
form i.icon.error {
  color: #ef4e3a; }

form input + i.icon.error {
  display: none;
  margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block; }

form .has-error {
  border-left: 5px solid #cc2511; }

form .has-success {
  border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
  display: none; }

.landing-page {
  background: url(../img/wizard-landing-bg.png) center;
  background-size: cover;
}

.landing-wizard {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.landing-disclaimer-link {
  position: absolute;
  height: 100%;
  width: 100%;
  color: transparent;
  border: 1px solid red;
  z-index:999;
}

.product-name {
  margin-top:100px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
  font-weight:bold;
  font-size: 1.6em;
}

.icon-bar {
  margin-top:30px;
  padding-left:30px;
  padding-right:30px;
  margin-bottom:40px;
}

.wizard-icon {
  margin-right:10px;
}

.warning-text {
  padding-left:20px;
  padding-right:20px;
  text-align:center;
  font-weight:bold;
  margin-bottom:50px;
  font-size: 1.2em;
}

.view-details {
  margin:50px;
}

#btn-create-account {
  border-color: #cccccc;
  background: #fff64c;
  color: #000;
  margin-top: 80px;
}

#form-login {
  margin-top: 64px;
}


/* overide ionic css */
.button.button-full { border-radius: 2px;}

.bar .button.back-button {
  margin-top: 0px;
  padding: 0;
  opacity: 0.8;
}

.button.button-block, .button.button-full {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button.button-yellow {
  border-color: #51b3c4;
  background: #0054a5;
}

.bar.bar-royal {
    border-color: transparent;
    background-color: #5c5fa1;
    background-image: none;
    color: #fff;
    overflow: hidden;
}

.button.button-royal {
  border-color: #51b3c4;
  background: #5c5fa1;
}
  .button.button-royal.active, .button.button-royal.activated {
      border-color: #51b3c4;
      background-color: #5c5fa1;
      /*box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);*/ }
.button.button-calm {
  border-color: #51b3c4;
  background: #0054a5;
}

.button.button-energized {
  border-color: #51b3c4;
  background: #f28e00;
}

/* disclaimer page*/
#disclaimer {
  background: #f8f8f8;
  width: 100%; height: 100%;
}

#disclaimer ion-pane {
  top: 68px;
  margin: 0 auto;
  width: 94%; height: 80%;
  overflow: auto;
  border: 1px solid #dddddd;
}

#disclaimer-header {
  background: #f5f5f5;
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid #bbbbbb;
  border-top: 0;
  height: 40px;
}
  #disclaimer-header .title { top: 0;}
#disclaimer-content {
  margin: 44px auto 0;
  background: #fff;
  width: 100%;
}
  #disclaimer-content ion-content {
    padding: 0 10px;
    height: 260px;
    text-align: center;
    width: 100%;
    margin: 55px auto;
  }

#disclaimer-scroll {
  width: 500px;
}

#disclaimer #disclaimer-actions {
  margin-top: 340px;
}

#disclaimer #disclaimer-actions a {
  width: 94%;
  margin: 0 auto 5px;
}

/* forgot pass*/
#form-forgot {
  margin-top: 60px;
}
#page-pass-confirm p {
  text-align: center;
  padding: 66px 0 40px;
}

/* sign up */
#page-signup form {
  margin-top: 45px;
}

#page-create-profile .signin-actions {
  margin-top: 25px;
}

#page-create-profile-2 .signin-actions {
  text-align: center;
}

#form-add-photo {
  margin-top: 20px;
}

h4.title-profile {
  color: #5c5fa1;
  text-align: center;
  margin: 10px 0;
}

#form-add-photo h4.title-profile {
  margin-bottom: 65px;
}

#page-create-profile-22 .profile-image-preview,
#page-create-profile-23 .profile-image-preview {
  width: 100%;
  margin: 20px auto;
}
  #page-create-profile-22 .profile-image-preview img,
  #page-create-profile-23 .profile-image-preview img {
    width: 100%;
    height: 100%;
  }
#page-create-profile-22 .actions,
#page-create-profile-23 .actions {
  margin-top: 20px;
}

.platform-ios7 #page-create-profile-22 .has-header,
.platform-ios7 #page-create-profile-23 .has-header,
.platform-ios7 #page-create-profile-3 .has-header {
  top: 60px;
}

#page-create-profile-22 .has-header,
#page-create-profile-23 .has-header,
#page-create-profile-3 .has-header {
  top: 60px;
}

#page-create-profile-3 .user-info {
  display: table-row;
  max-height: 76px;
}

#page-create-profile-3 .user-info .user-photo {
  display: table-cell;
  padding-left: 10px;
}

#page-create-profile-3 .user-info .user-photo img {
  border: 1px solid #000;
  max-width: 74px;
  max-height: 74px;
  float: left;
  width: 74px; height: 74px;
}

#page-create-profile-3 .user-info .user-name {
  display: table-cell;
  vertical-align: middle;
}

#page-create-profile-3 .user-info h4 {
  color: #5c5fa1;
  margin-left: 15px;
}

.checkboxes  {
  text-align: center;
  clear: both;
  margin-top: 14px;
}

.fa-checkbox {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.checkboxes input[type="checkbox"] {
  position: absolute;
  left: -9999em;
}

.checkboxes input + label{
  border-radius: 4px;
  border: 1px solid #5c5fa1;
  background: #65cc33;
  color: #fff;
  display: block;
  width: 134px; height: 29px;
  line-height: 27px;
}

.checkboxes input:checked + label {
  background: red;
}

#page-create-profile-3 .dropdown-list {
  margin-bottom: 30px;
}

#page-create-profile-3 .dropdown-list label {
  border-radius: 4px;
  border: 1px solid #5c5fa1;
  background: #65cc33;
  margin: 0 auto;
  width: 80%; height: 36px;
}

#page-create-profile-3 .dropdown-list .item-select select {
  color: #fff;
  max-width: 100%;
  font-size: 14px;
  right: auto; left: 0;
  line-height: 35px;
  padding: 0 30px 0 10px;
  direction: ltr;
}

#page-create-profile-3 .dropdown-list .item-select:before {
  content: '';
  display: block;
  width: 1px; height: 100%;
  background: #5c5fa1;
  position: absolute;
  right: 26px; top: 0;
}

#page-create-profile-3 .dropdown-list .item-select:after {
  color: #fff;
  right: 7px;
  border-top: 6px solid;
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-left: 6px solid rgba(0, 0, 0, 0);
}

#page-create-profile-31 ion-pane {
  top: 64px;
}

#page-create-profile-31 #profile-review {
  background: #fff;
  border: 1px solid #5c5fa1;
  border-radius: 4px;
  margin: 0 auto;
  width: 94%; height: 80vh;
}

#page-create-profile-31 #profile-review ion-content {
  color: #333;
  top: 135px;
  text-align: center;
  margin: 0 auto;
  width: 92%; height: 180px;
}
  #page-create-profile-31 #profile-review h4 {
    color: #333;
    margin: 0 0 15px 0;
    text-align: center;
  }

  #page-create-profile-31 #profile-review p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  #page-create-profile-31 #profile-review ion-content ul {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

#page-create-profile-31 .actions {
  margin-top: 220px;
}
  #page-create-profile-31 .actions p {
    color: #333;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  #page-create-profile-31 .actions a {
    margin-bottom: 10px;
  }

.button-photo-royal {
  background: #5c5fa1;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  width: 95px; height: 95px;
  overflow: hidden;
  text-indent: -9999em;
}
#profile-choose-photo , #profile-take-photo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
}

  #profile-choose-photo a {
    background: url('../img/btn-choose-photo.png') no-repeat center center #5c5fa1;
    background-size: 60%;
  }

  #profile-take-photo a {
    background: url('../img/btn-take-photo.png') no-repeat center center #5c5fa1;
    background-size: 65%;
  }

  #profile-choose-photo h5, #profile-take-photo h5 {
    color: #5c5fa1;
    font-size: 15px;
  }
/* tabs */
#page-tabs-view .tabs {
  background: #5c5fa1;
}

#page-tabs-view .tab-item .icon {
  color: #fff;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item  {
  color: #fff;
  max-width: 62px;
  display: inline-block;
  vertical-align: middle;
  margin: -1px 20px;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  background: #2e3192;
}

.contain-list {
  height: 370px;
}

.profile-thumb {
  background: #000;
  width: 34px;
  height: 34px;
  line-height: 34px;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.profile-thumb img {
  max-width: 34px;
  max-height: 34px;
  vertical-align: middle;
}

.profile-sum {
  height: 34px;
  float: left;
  width: 80%;
}
.button-edit-profile {
  height: 34px;
  float: left;
  width: 90%;
}
  .button-edit-profile .profile-sum { width: 100%;}

.profile-sum p {
  color: #333;
  font-size: 17px;
  float: left;
  line-height: 34px;
  margin: 0;
  width: 75%;
  overflow: hidden;
}

.list-profiles-editing i.icon {
  font-size: 26px;
  line-height: 34px;
}
.list-profiles-editing .ion-minus-circled  {
  color: red;
  float: left;
  margin-right: 8px;
}
.list-profiles-editing .ion-ios7-arrow-forward{
  color: #666;
  float: right;
}

#page-user-profiles ion-content {
  height: 300px
}
#btn-scan {
  margin-top: 452px;
}

#page-tabs-view .item {
  padding: 5px;
}
#page-tabs-view .item-complex .item-content, .item-radio .item-content {
  padding: 0;
}
#page-tabs-view .item-toggle .toggle {
  top: 6px;
}
#page-tabs-view  .toggle.toggle-assertive input:checked + .track {
  border-color: #5c5fa1;
  background-color: #5c5fa1;
}
/* profile */
.profile-info {
  height: 310px;
}
.profile-info p {
  color: #333;
  font-size: 14px;
  line-height: 30px;
}

.button-edit-profile {
  display: block;
}
.social h6 {
  color: #333;
  font-size: 14px;
  font-weight: normal;
}
.social-button {
  display: inline-block;
  vertical-align: middle;
  width: 34px; height: 34px;
  text-indent: -9999em;
  margin: 0 20px;
}
.social-button.social-facebook {
  background: url(../img/btn-facebook.png) center center no-repeat;
  background-size: 34px 34px;
}
.social-button.social-twitter {
  background: url(../img/btn-twitter.png) center center no-repeat;
  background-size: 35px 34px;
}
#form-user-settings {
  margin-top: 22px;
}


.scan-results {
  height: 100%;
}
.scan-results ion-content.has-header {
  top: -20px;
}
.scan-results a.button-royal {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  border-color: transparent;
}
.scan-results a.button-red {
  background: #ef4e3a;
  border: 1px solid #bc4435;
  color: #fff;
  margin: 0 auto;
  top: 450px;
  width: 80%;
  border-color: transparent;
  z-index: 999;
}

#new-profile-modal ion-content {
  top: 60px;
}

#new-profile-modal #page-create-profile-3 .profile-photo {
  float: left;
}

#new-profile-modal #page-create-profile-3 .user-info {
  display: block;
}
  #new-profile-modal  #page-create-profile-3 .user-info .user-photo {
    display: block;
    padding-left: 0;
    width: 74px; height: 74px;
  }
  #new-profile-modal .profile-photo a {
    color: #5c5fa1;
    font-size: 14px;
    display: block;
    text-align: center;
    width: 74px;
  }

#new-profile-modal  #page-create-profile-3 .user-info .user-name {
  display: block;
  float: left;
  margin-left: 13px;
  width: 50%;
}

#new-profile-modal .user-name input {
  border: 1px solid #ccc;
  color: #5c5fa1;
  padding: 10px;
  width: 193px;
  margin-bottom: 5px;
}

#new-profile-modal .checkboxes input[type="checkbox"] {
  position: absolute;
  left: -9999em;
}

#new-profile-modal .checkboxes input + label{
  border-radius: 4px;
  border: 1px solid #5c5fa1;
  background: #65cc33;
  color: #fff;
  display: block;
  width: 134px; height: 29px;
  line-height: 27px;
}

#new-profile-modal .checkboxes input:checked + label {
  background: red;
}

#new-profile-modal .dropdown-list {
  margin-bottom: 20px;
}

#new-profile-modal h4 {
  clear: both;
}

#add-more-allergen ion-content {
  background: transparent;
  margin: 0 auto;
  top: 64px;
  height: 97%;
}
  #add-more-allergen ion-content h4,
  #add-more-allergen ion-content h5 {
    text-align: center;
  }
  #add-more-allergen ion-content h5 {
    font-size: 17px;
    margin: 0 0 40px;
  }
  #add-more-allergen ion-content p {
    margin-bottom: 58px;
  }
#add-more-allergen #profile-review {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding-top: 40px;
  width: 100%; height: 91%;
}

/* modal */
.modal-backdrop.active {
  background: transparent;
}

#confirm-profile, #add-more-allergen {
  background: transparent;
}
#confirm-profile #confirm-content {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: -47%;
  width: 94%; height: 80%;
  left: 50%; top: 105px;
  text-align: center;
}
  #confirm-profile #confirm-content h4 {
    margin-bottom: 30px;
  }
  #confirm-profile #confirm-content ion-content {
    top: 100px;
    height: 150px;
  }
  #confirm-profile #confirm-content li {
    font-size: 18px;
    line-height: 24px;
  }
  #confirm-profile .actions {
    margin-top: 200px;
  }
/* scan result */
#page-scan-results ion-content {
  top: 64px;
  height: 80%;
}
  #page-scan-results ion-content li {
    /*padding: 22px;*/
    border-bottom: 0;
    /*height: 74px;*/
  }
  #page-scan-results ion-content li img {
    max-width: 34px; max-height: 34px;
  }

  #page-scan-results .profile-image,
  #page-scan-results .profile-results {
    display: block;
    float: left;
  }
  #page-scan-results .profile-image {
    overflow: hidden;
    width: 34px; height: 34px;
  }
  #page-scan-results .profile-results {
    padding-left: 12px;
    width: 255px;
  }
    #page-scan-results .profile-results h2 {
      font-size: 17px;
      line-height: 1;
    }
    #page-scan-results .profile-results p {
      font-size: 12px;
      line-height: 1;
      text-transform: uppercase;
      overflow: scroll;
      text-overflow: clip;
      white-space: initial;
    }
#page-scan-results .bar-footer {
  display: block;
  text-align: center;
  line-height: 34px;
  height: 44px;
}

.scan-results .bar-footer {
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 34px;
  height: 44px;
}

.scan-results .bar-footer a {
  text-decoration: none;
}

.scan-results .icon-bar {
  text-align: center;
}

.caution-icon, .stop-icon {
  width: 100px;
  padding-bottom: 20px;
}

#firstname {
  float: left;
  margin-right: 10px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 1;
}
.popup-body {
  text-align: center;
}

#show-more-allergens ion-content {
  top: 80px;
  height: 330px;
}
#show-more-allergens .checkboxes {
  margin-top: 10px;
}
#show-more-allergens .actions {
  margin-top: 420px;
}
#btn-see-more-allergens {
  border-radius: 4px;
  border: 1px solid #5c5fa1;
  background: #65cc33;
  color: #fff;
  display: block;
  width: 100%; height: 39px;
  line-height: 27px;
}

/* loading */
.loading-bg {
  background: #5c5fa1; position: fixed; top: 0; left: 0; width: 100%; height: 100%
}
.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -20px;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* restyle */
.platform-ios7 .bar-header {
  height: 64px;
}
.platform-ios7 .bar-header > * {
  /*margin-top: 20px;*/
  margin-top: 0;
}
.bar .title {
  top: 20px;
}
.platform-ios7 .bar .title {
  top: 0px;
}

#photo-action {
  text-align: center;
}

/* iphone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
  .contain-list {
    height: 480px;
  }
  #btn-scan {
    margin-top: 550px;
  }
  #new-profile-modal .user-name input {
    width: 248px;
  }
  #new-profile-modal .checkboxes input + label {
    width: 160px;
  }
  .button-photo-royal {
    width: 100px;
    height: 100px;
  }
  .scan-results a.button-red {
    top: 540px;
  }
  .icon-bar {
    margin: 50px auto;
  }
  .wizard-icon {
    width: 200px;
  }
  .caution-icon{
    padding-bottom:50px;
  }
  #confirm-profile #confirm-content {
    height: 63%;
    top: 235px;
  }
  #confirm-profile #create-profile-buttons {
    margin-top: 168px;
  }
  #confirm-profile #confirm-content ion-content {
    top: 120px;
    height: 150px;
  }
}

/* iphone 6+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
  .contain-list {
    height: 550px;
  }
  #btn-scan {
    margin-top: 620px;
  }
  #new-profile-modal .user-name input {
    width: 288px;
  }
  #new-profile-modal .checkboxes input + label {
    width: 180px;
  }
  .button-photo-royal {
    width: 125px;
    height: 125px;
  }
  .scan-results a.button-red {
    top: 600px;
  }
  #confirm-profile #confirm-content {
    height: 58%;
    top: 295px;
  }
  #confirm-profile #create-profile-buttons {
    margin-top: 175px;
  }
}
